body {
    font-family: 'Inter', sans-serif;
    background-color: #0A192F;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0C1E3A;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #64ffda, #00bcd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1.2rem;
    margin-left: auto; /* This will push the menu to the right */
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    padding: 2rem;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.intro {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.1rem; /* Reduced margin to bring it closer to Neoneko */
    color: #64ffda; /* Optional: gives a subtle highlight to the intro text */
}

.team-name {
    font-size: 8rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #64ffda, #00bcd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0; /* Remove default margins */
    line-height: 1.2; /* Adjust line height for closer text */
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.5rem; /* Add some space between the team name and this paragraph */
    margin-bottom: 2rem;
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    background-color: #64ffda;
    color: #0A192F;
    padding: 0.9rem 1.5rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: #45e6c0;
    transform: translateY(-2px);
}
